.language {
  position: relative;
}

.language:hover::after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 2.75rem;
  height: 1px;
  background-color: #FFFFFF;
  opacity: 1;
}